<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <p>Please provide us with your personal information to send you the item</p>
  <mat-step [stepControl]="firstFormGroup">
    <mat-step-header [matStepperIcon]="icon">Personal information</mat-step-header>
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>1</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <mat-step-header [matStepperIcon]="icon">Address</mat-step-header>
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <mat-step-header [matStepperIcon]="icon">Payment</mat-step-header>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-stepper>

