.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

// button {
//   border: solid 3px red;
// }

// mat-stepper {
//   border: solid 3px red;
// }

// mat-step {
//   border: solid 3px blue;
// }

mat-step-icon {
  font-size: 24px;
  color: blue;
}
